body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
header {
  background: #007acc;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}
.container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}
h1 {
    color: #fafbfc;
}

h2 {
  color: #fff;
}
 
 h2 {
  color: #007acc;
}
ul {
  list-style-type: square;
  padding-left: 20px;
}
footer {
  text-align: center;
  padding: 15px;
  background: #eee;
  margin-top: 30px;
}
a {
  color: #007acc;
}

